@charset "utf-8";
html {
    font-size: 62.5%;
}
@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}



$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$base_color : #F0F8FF;//AliceBlue
$pc_size : 550px;
$sp_size : 549px;

//---------------------head end--------------------


.body_size {
  min-width: 550px;//
  max-width: 1089px;//
  width: auto;
  padding: 5%;
}

//---------------------body start--------------------
.bg{
  background-color: $base_color;
}
//-------------max-width: sp start-------------
  @media (max-width: $sp_size) {
  	header{
  		
  	  #header_in{
    		padding-top: 10px;
    		padding-bottom:4px;
    		text-align:center;
  		
        .sp_navi {
          text-align:center;
        }
      
        div.logo.a.img {
          .clearfix::after {
            content: '';
            display: block;
            clear: both;
          }        
        }
      
        .pc_navi{
          display: none;
        }
      }
    
    
//  .menu_sp_toggle start
  .menu_sp_toggle {
//    width: 180px;
//    position: absolute;
    top:50px;
//    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none; //追加
    z-index: 100; //追記

    li{
      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
//  .menu_sp_toggle end
}
//header end

//breadcrumbs start
  .breadcrumbs {
    background-color: #D3D3D3;//LightGrey
    list-style-type:none;
    
    li{
      display: inline;
    }
  }
//breadcrumbs end


//cover start
    .cover_area{
      margin:2%;
    }
 
//items start   
  #items{
    text-align:center;
    
    .items_ttl{
      width:auto;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
       }
       
    ul.items_list{
      margin:2%;
      
      li{
        display:inline-block;
        width:200px;
        margin:5px;
        
        img {
          width:auto;
          height:auto;
          }
        }
      
      }
    }
//items end

//figure start
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
    display: table;
    width: 100px; /* minimum width */
    *width: auto; /* for IE7 and below */
    margin:2px;
    
/* ▼画像に対する装飾 */
    img {
      display: block;          /* 余計な余白が出ないようにする */
      margin: 0px; /* 周りに2pxの余白を追加 */
      margin-left:auto;
      margin-right:auto;
    }
  }
  
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
    margin:2px;
    }
//figure end

//shopping_guide start      
  #shopping_guide {
    background-color: #F8F8FF;//GhostWhite;
    position:relative;
    width:300px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    }
  
  #guide_setting{
    background:#F8F8FF;//GhostWhite;
    width:300px;
    }
  
  #guide_setting2{
    background:#F8F8FF;//GhostWhite;
    width:300px;
    }
//shopping_guide end 

//sidebar start
.side_style{
  background:white;

  
//input.type start
  .input_image {
  display:none;
  }
    
  .search {
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-top:15px;
    margin-bottom:1px;

  }
    
  input{
    background-color: #D3D3D3;//LightGrey
    width:100%;
    }

  .input_type{
    background-image:url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
  }

//side_menu start
#side_menu{

ul.side_menu_toggle1 {
  display: none;
  
  li{
    background:white;
    margin:0px;
    height:30px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }



  
ul.side_menu_toggle2 {
  display: none;
  
  li{
    background:white;
    margin:0px;
    height:30px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }

  .side_color{
    background-color: #696969;//DimGray
    width:100%;
    color:white;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    }

  .side_color.a {
    text-decoration:blink;
    width:100%;
    margin:2px 0 0 0;
    margin-right:0px;
    margin-left:0px;
    }
    
  figure.caption_style{
    width:100%;
    background:white;
    color:black;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    
    img {
      margin-right:auto;
      margin-left:auto;
      margin-top:10px;
      text-align:center;
      float:left;
      }
    }
//side_menu end
}
//sidebar end
}
//footer_style start

div.arrow_style{
  margin-left:auto;
  text-align:center;
}

.footer_style{
  text-align:center;
  
  li{
    display:inline-block;
    width:auto;
    height:auto;
    }
  }

.footer_style2{
  text-align:center;
  font-size:12px;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
//footer_style end

}
//-------------max-width: sp end-------------

//-------------min-width: pc start-------------
  @media (min-width: $pc_size) {
  	header{
  
  	#header_in{
  		padding-top: 10px;
  		padding-bottom:4px;
  		padding: 15px 0 10px 0;
  	}

    .sp_navi{
      display: none;
    }

    .pc_navi_li{
      margin:0;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{
        color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include fontsize(14);
          float: left;
          padding-right: 10px;
        }

        a:hover{
          color: $blue1;
        }
      }
	}
}
//header end

//breadcrumbs start
  .breadcrumbs {
    background-color: #D3D3D3;//LightGrey
    list-style-type:none;
    
    li{
      display: inline;
    }
  }
//breadcrumbs end


//cover start
	.cover_area{
		margin:2%;
	}

//items start 
  #items{
    text-align:center;

    .items_ttl{
      width:100%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
       }
       
    ul.items_list{
      margin:auto;
      
      li{
        display:inline-block;
        width:200px;
        margin:auto;
        
        img {
          width:auto;
          height:auto;
        }
        }
      
      }
    }
//items end

//figure start
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  display: table;
  width: 100px; /* minimum width */
  *width: auto; /* for IE7 and below */
  margin: 0px;
  padding:3px;
    
/* ▼画像に対する装飾 */
  img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px; /* 周りに2pxの余白を追加 */
  }
}
  
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
    margin:0px;
    }   
//figure end  
     
//shopping_guide start      
  #shopping_guide {
    background-color: $base_color;
    position:relative;
    width:500px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    }
  
  #guide_setting{
    background-color: #F8F8FF;//GhostWhite
    width:245px;
    height:250px;
    position:absolute;
    top:0px;
    left:0px;
    margin-right:10px;

    ul {
      font-size:90%;
    }
    }
  
  #guide_setting2{
    background: #F8F8FF;//GhostWhite
    position:absolute;
    width:245px;
    height:250px;
    top:0px;
    right:0px;
    
    ul {
      font-size:90%;
      
      li{
      }
    }
    }
//shopping_guide end

//sidebar start
.side_style{
  background:white;
  margin-right:0px;
  padding-right:0%;
  
//side_menu start
#side_menu{

//input.type start
  .input_image {
    margin-left:10%;
    margin-top:10%;
    margin-bottom:5%;
  }
    
  .search {
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-top:15px;
    margin-bottom:1px;
  }
    
  input{
//    background-color: #D3D3D3;//LightGrey
    width:auto;
    }

  .input_type{
    background-image:url("../images/top/search_icon.png");
    background-color: #D3D3D3;//LightGrey
    background-repeat: no-repeat;
    background-position: center right;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
  }

  .side_color{
    background-color: #696969;//DimGray
    width:100%;
    color:white;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    padding:0px;

  ul.side_menu_toggle1 {
  	display: none;
  
  	li{
   	 background:white;
   	 margin-top:0px;
   	 height:30px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }

  ul.side_menu_toggle2 {
 	 display: none;
  
 	li{
   	 background:white;
   	 margin-top:0px;
   	 height:30px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }


  figure.caption_style{
  	width:auto;
    height:auto;
    background:white;
    color:black;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    
    img {
      margin-right:auto;
      margin-left:auto;
      margin-top:10px;
      text-align:center;
      width:auto;
      height:auto;
      }
    }
  }
//side_menu end
}
//sidebar end
}

//footer_style start

div.arrow_style{
  margin-left:auto;
  text-align:right;
}


.footer_style{
  text-align:center;
  
  li{
    display:inline-block;
    width:auto;
    height:auto;
    }
  }

.footer_style2{
  text-align:center;
  font-size:12px;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
//footer_style end

}
//-------------min-width: pc end-------------