@charset "utf-8";
html {
    font-size: 62.5%;
}
@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}



$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$base_color : #f8f8f6;
$pc_size : 550px;
$sp_size : 549px;
$DimGray : #696969;
$shopping_guide_font : #756c56;

//---------------------head end--------------------
//---------------------body start--------------------
//-------------max-width: sp start-------------
  @media (max-width: $sp_size) {
    
  body {
    margin: 5px 10px 5px 10px;
    background-color: #f8f8f6;
    width: 500px;
    }
    
  	header{
  		
  	  #header_in{
    		padding-top: 10px;
    		padding-bottom:4px;
  		
        .sp_navi {
          text-align:center;
        }
      
        div.logo.a.img {
          .clearfix::after {
            content: '';
            display: block;
            clear: both;
          }        
        }
      
        .pc_navi{
          display: none;
        }
      }
    
    
//  .menu_sp_toggle start sp
  .menu_sp_toggle {
//    width: 180px;
//    position: absolute;
    top:50px;
//    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none; //追加
    z-index: 100; //追記

    li{
      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
//  .menu_sp_toggle end
}
//header end

//breadcrumbs start sp
  .breadcrumbs {
    background-color: #e1ddd0;
    list-style-type:none;
    padding:5px;
    border-radius:3px;
    
    li{
      display: inline;

      a {
        color:#756c56;
        text-decoration:none;
      }
    }
  }
//breadcrumbs end sp


//cover start sp
  .cover_area{
    margin:0%;
    }
    
  .cover_area_pc {
    display:none
  }
  
  img.cover_area_sp {
    max-width:100%;
    width:auto;
    height:auto;
    margin-bottom:20px;
  }
    
  .u-max-full-width {
    max-width: 400px;
//    max-height: 180px;
    -ms-interpolation-mode: bicubic;
    }
 
//items start sp
  #items{

    .items_ttl{
      height:auto;
      text-align:center;
      padding:1px;
       }
       
    ul.items_list{
      display:block;
      width:400px;
      margin-right:auto;
      margin-left:auto;

      li{
        display:inline-block;
        width:50%;
        float:left;
        background: #fff;
        
        }
      
      }
    }
//items end sp

//figure start sp
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
    display: table;
    width: 150px; /* minimum width */
    *width: auto; /* for IE7 and below */
    margin:2px;
    }
    
/* ▼画像に対する装飾 */
figure.img {
      display: block;          /* 余計な余白が出ないようにする */
      margin: 0px; /* 周りに2pxの余白を追加 */
      margin-left:auto;
      margin-right:auto;
    }

  
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
    margin:2px;
    }
//figure end sp

//shopping_guide start sp
  #shopping_guide {
    background-color: #F8F8FF;//GhostWhite;
    position:relative;
    width:300px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    
    ul {
      font-size:90%;
      
      img {
        width:200px;
        height:auto;
      }
    }
    }
  
  #guide_setting{
    background-color:#fff;//White;
    width:300px;
    }
  
  #guide_setting2{
    background-color:#fff;//White;
    width:300px;
    }
//shopping_guide end sp
//sidebar start sp
.side_style{
  background:white;
  }
  
//input.type start
  .input_image {
    display:none;
  }
    
  #search {
    text-align:center;
  }
    
  input{
    margin-bottom:2px;
    }

  input.input_type{
    background-color:#D3D3D3;//LightGrey
    background-image:url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    width:80%;
  }
//input.type end sp
//side_menu start sp

ul.side_menu_toggle1 {
  display: none;
  
  li{
   	 background:white;
   	 margin-top: 0px;
   	 margin-bottom:0px;
   	 padding-top:10px;
   	 padding-bottom:0px;
   	 height:20px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }
  
ul.side_menu_toggle2 {
  display: none;
  
  li{
   	 background:white;
   	 margin-top: 0px;
   	 margin-bottom:0px;
   	 padding-top:10px;
   	 padding-bottom:0px;
   	 height:20px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }

  .side_color{
    background-color: #857e6a;
    width:100%;
    color:white;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    }

  .side_color.a {
    text-decoration:blink;
    width:100%;
    margin:2px 0 0 0;
    margin-right:0px;
    margin-left:0px;
    }
    
  figure.caption_style{
    width:100%;
    background:white;
    color:black;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    
    img {
      margin-right:auto;
      margin-left:auto;
      margin-top:10px;
      text-align:center;
      float:left;
      }
  }
//side_menu end sp
//sidebar end sp
//products.html start sp
.product_start {
  margin-right: 0px;
  margin-left: 0px;
}

.product_name {
  display:inline;
  font-weight:bold;
  font-size:14;
  float:left;
}
.product_name2 {
  display:inline;
  float:right;
}

.product_name3 {
  display:inline;
  font-weight:bold;
  font-size:14;
}

#display_img img {
  width: 300px;
  margin-top:1%;
  margin-right:1%;
  padding:0px;
  float:left;
}

#list_img li {
  margin:1%;
  list-style:none;
  }

#list_img li img {
    margin:1%;
    width: 50px;
    float:left;
    cursor: pointer;
  }
  
.clearfix:after {
  content:"";
  display:block;
  clear:both;
  }

//table start
table{
  margin-right:auto;
  margin-left:auto;
  
  tr.t2{
    border-bottom:1px solid black;
    border:solid 2px;
    
    td.t2{
      width:100px;
      text-align:center;
    }
  }
}


.c1{
   background-color: #f6f6f2
}
//table end


//------------------products.html end sp------------------

.btn {
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:5px 30px;
    background-color:#847d6a;
    color:white;
    border:1px solid #333;
    margin:inherit;
}

.t2_left {
    display:inline;
  }
  
.t2_right{
  float:right;
}
  
.t2_right:after{
  content: '';
  display: block;
  clear: both;
  } 

//footer_style start sp

div.arrow_style{
  text-align:right;
}

.footer_style{
  text-align:center;
  
  li{
    display:inline-block;
    width:auto;
    height:auto;
    }
  }

.footer_style2{
  text-align:center;
  font-size:12px;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
//footer_style end sp

}
//-------------max-width: sp end-------------

//-------------min-width: pc start-------------
@media (min-width: $pc_size) {
      
  body {
    margin: 30px 90px 30px 90px;
    background-color: #f8f8f6;
    width: 1000px;
    
    }
    

  header{
      padding: 2px;
  		margin: 0px;

  	#header_in{
  		padding: 0px;
  		margin: 0px;
  	}
  	
  	div.logo {
  	  padding: 0px;
  	  margin: 0px;
  	}

  .sp_navi{
      display: none;
    }

  div.pc_navi{
    width:auto;
    padding-right:0px;
    margin:20px auto;
    border: none;
    }

  ul.pc_navi_li{
    margin:0;
    padding:0;
    text-align:right;
    }

  li{
    display:inline-block;
    padding:0 10px;
  
    a{
      color: #626262;
      text-decoration: none;
      font-weight: bold;
      @include fontsize(14);
      float: left;
      padding-right: 0px;
      }

    a:hover{
        color: $blue1;
      }
    }
  
  }
//header end pc

//breadcrumbs start pc
  .breadcrumbs {
    max-width:700px;
    background-color: #e1ddd0;
    list-style-type:none;
    padding:0px;
    border-radius:3px;
    
    li{
      display: inline;
      
      a {
        color:#756c56;
        text-decoration:none;
      }
    }
  }
//breadcrumbs end pc

//cover start pc
  .cover_area {
    max-width: 740px;
    margin: 0px;
    padding: 0px;
  }
  
  img.cover_area_pc {
    max-width: 100%;
    width:auto;
    height:auto;
    margin: 0 0 20px 0;
    padding: 0px;
  }
  
  .cover_area_sp {
    display:none;
  }
	
	.u-max-full-width {
    max-width: 740px;
    box-sizing: border-box;
    }

//items start pc
  #items{

    .items_ttl{
      height:auto;
      text-align:center;
      padding:1px;
       }
       
    ul.items_list{
      display:block;
      width:100%;
      margin-right:auto;
      margin-left:auto;

      li{
        display:inline-block;
        width:30%;
        float:left;
        background: #fff;
        border-color:#f7f6f3;
        
        figure img {
          max-width:100%;
          }
        }
      }
    }
//items end pc

//figure start pc
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
  display:inline-block;
  margin: 10px;
  }    
/* ▼画像に対する装飾 */
  figure.caption_style img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 20px; /* 周りに2pxの余白を追加 */
    width: 180px;
    text-align:center;
  }

/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
    margin:0px;
    text-align: left;
    padding:5px;
    }   
//figure end pc
     
//shopping_guide start pc
  #shopping_guide {
    background-color: $base_color;
    position:relative;
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    }
  
  #guide_setting{
    background-color: #FFFFFF;//White
    width:50%;
    height:20em;
    float:left;
    margin:0;
    padding:0;
    
    dt.shopping_guide_font {
      color: $shopping_guide_font;
    }
      
    dd img {
         width:200px;
         height:auto;
         }
    }
  
  #guide_setting2{
    background-color: #FFFFFF;//White
    width:50%;
    height:20em;
    float:right;
    margin:0;
    padding:0;
    
    dt.shopping_guide_font {
      color: $shopping_guide_font;
    }
      
    dd img {
         width:200px;
         height:auto;
         }
  }
//shopping_guide end pc
//sidebar start pc
//.side_style{
//  background:white;
//}

//input.type start pc
  .input_image {
    margin-left:5%;
    margin-top:10%;
    margin-bottom:0;
    padding-top:15px;
    background-color:white;
  }
  
  #search{
    text-align: center;
    background-color:white;
    margin-bottom:2px;
    padding-bottom:15px;
  }
    
  input{
    margin-bottom:0px;
    }

  input.input_type{
    background-color:#D3D3D3;//LightGrey
    background-image:url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    width:80%;
  }
//input.type end pc
//side_menu start pc

  .side_color{
    background-color: #857e6a;
    width:100%;
    color:white;
    margin-top:10px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
    padding: 0px 0px 0px 0px;
    font-size:1.1em;
    height:auto;
    line-height:30px;
    vertical-align:middle;

  ul.side_menu_toggle1 {
  	display: none;

  	li{
   	 background:white;
   	 margin-top: 0px;
   	 margin-bottom:0px;
   	 padding-top:10px;
   	 padding-bottom:10px;
   	 height:20px;

    a{
      color:black;
      text-decoration:none;
      padding-left:0px;
      }
    }
  }

  ul.side_menu_toggle2 {
 	 display: none;
  
 	li{
   	 background:white;
   	 margin-top: 0px;
   	 margin-bottom:0px;
   	 padding-top:10px;
   	 padding-bottom:10px;
   	 height:20px;

    a{
      color:black;
      text-decoration:none;
      }
    }
  }

  figure.caption_style{
  	width:auto;
    height:auto;
    background:white;
    color:black;
    margin-top:2px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
    
  figcaption {
    text-align:left;
  }
    
    img {
      margin-right:auto;
      margin-left:auto;
      margin-top:10px;
      width:auto;
      height:auto;
      }
    }
    
  }
//side_menu end pc
//sidebar end pc
//products.html start pc
.product_start {
  margin-right: 8%;
  margin-left: 8%;
  background-color: #fff;
  padding: 10px;
}

.product_name {
  display:inline;
  font-weight:bold;
  font-size:14;
  float:left;
}
.product_name2 {
  display:inline;
  float:right;
}

.product_name3 {
  display:inline;
  font-weight:bold;
  font-size:14;
}

#display_img img {
  width: 400px;
  margin-top:1%;
  margin-right:1%;
  padding:0px;
  float:left;
}

#list_img li {
  margin:1%;
  list-style:none;
  }

#list_img li img {
    margin:1%;
    width: 80px;
    float:left;
    cursor: pointer;
  }
  
.clearfix:after {
  content:"";
  display:block;
  clear:both;
  }

//table start
table{
  margin-right:0px;
  margin-left:0px;
  
  tr.t2{
    border-bottom:1px solid black;
    border:solid 2px;
    margin:0px;
    padding:0px;
    
  td.t3{
      width:100vw;
      text-align:center;
    }
  }
}

table {
  margin-right:0px;
  margin-left:0px;
  
  td.t4 {
    width:20%;
    height:50px;
  }
  
  td.t5 {
    width:40%;
    height:50px;
    text-align:left;
  }

  td.t6 {
    width:40%;
    height:50px;
    border-top:hidden;
    border-bottom:hidden;
  }
}


.c1{
   background-color: #f6f6f2
}

.c2 {
  border:1px #D3D3D3 solid;
}
//table end pc
//products.html end pc

.btn {
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:5px 30px;
    background-color:#847d6a;
    color:white;
    border:1px solid #333;
    margin:inherit;
}

img.t2_left {
    padding-left:25px;
    display:inline;
  }
  
.t2_right{
  float:right;
}
  
.t2_right:after{
  content: '';
  display: block;
  clear: both;
  } 

//footer_style start pc

div.arrow_style{
  text-align:right;
}


.footer_style{
  text-align:center;
  
  li{
    display:inline-block;
    width:auto;
    height:auto;
    }
  }

.footer_style2{
  text-align:center;
  font-size:12px;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

//footer_style end pc

}
//-------------min-width: pc end-------------