@charset "utf-8";
html {
    font-size: 62.5%;
}
@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}



$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$base_color : #f7f6f5;
$pc_size : 866px;
$sp_size : 865px;

//---------------------head end--------------------


.body_size {
  min-width: 550px;//
  max-width: 1089px;//
  width: 100%;
}

//---------------------body start--------------------
.bg{
  background-color: $base_color;
}
//-------------max-width: sp start-------------
  @media (max-width: $sp_size) {
  	header{
  		
  	  #header_in{
    		padding-top: 10px;
    		padding-bottom:4px;
    		text-align:center;
  		
        .sp_navi {
          text-align:center;
        }
      
        div.logo.a.img {
          .clearfix::after {
            content: '';
            display: block;
            clear: both;
          }        
        }
      
        .pc_navi{
          display: none;
        }
      }
    
    
//  .menu_sp_toggle start
  .menu_sp_toggle {
//    width: 180px;
//    position: absolute;
    top:50px;
//    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none; //追加
    z-index: 100; //追記

    li{

      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
//  .menu_sp_toggle end
}
//header end

//cover start
    .cover_area{
      margin:2%;
    }
 
//items start   
  #items{
    text-align:center;
    
    .items_ttl{
      width:auto;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
       }
       
    ul.items_list{
      margin:2%;
      
      li{
        display:inline-block;
        width:auto;
        
        img {
          width:auto;
          height:auto;
          }
        }
      
      }
    }
//items end


//figure start
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
    display: table;
    width: 100px; /* minimum width */
    *width: auto; /* for IE7 and below */
    margin:2px;
    
/* ▼画像に対する装飾 */
    img {
      display: block;          /* 余計な余白が出ないようにする */
      margin: 0px; /* 周りに2pxの余白を追加 */
      margin-left:auto;
      margin-right:auto;
    }
  }
  
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
    margin:2px;
    }
//figure end

#shopping_guide {
  background-color:white;
  position:relative;
  width:100%;
  height:100%;
  margin: auto;
}

}
//-------------max-width: sp end-------------

//-----------------------------------
//-----------------------------------

//-------------min-width: pc start-------------
  @media (min-width: $pc_size) {
  	header{
  
  	#header_in{
  		padding-top: 10px;
  		padding-bottom:4px;
  		padding: 15px 0 10px 0;
  	}

    .sp_navi{
      display: none;
    }

    .pc_navi_li{
      margin:0;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{
        color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include fontsize(14);
          float: left;
          padding-right: 10px;
        }

        a:hover{
          color: $blue1;
        }
      }
	}
}
//header end

//cover start
	.cover_area{
		margin:2%;
	}

//items start 
  #items{
    text-align:center;

    .items_ttl{
      width:100%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
       }
       
    ul.items_list{
      margin:auto;
      
      li{
        display:inline-block;
        width:auto;
        
        img {
          width:auto;
          height:auto;
        }
        }
      
      }
    }
//items end

//figure start
/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  display: table;
  width: 100px; /* minimum width */
  *width: auto; /* for IE7 and below */
  margin: 0px;
  padding:3px;
    
/* ▼画像に対する装飾 */
  img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px; /* 周りに2pxの余白を追加 */

  }
}
  
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
    margin:0px;
    }   
//figure end  
     
#shopping_guide {
  background-color:white;
  position:relative;
  width:100%;
  height:100%;
  margin: auto;
}

}
//-------------min-width: pc end-------------