@charset "UTF-8";
html {
  font-size: 62.5%; }

.body_size {
  min-width: 550px;
  max-width: 1089px;
  width: 100%; }

.bg {
  background-color: #f7f6f5; }

@media (max-width: 549px) {
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center; }
    header #header_in .sp_navi {
      text-align: center; }
    header #header_in div.logo.a.img .clearfix::after {
      content: '';
      display: block;
      clear: both; }
    header #header_in .pc_navi {
      display: none; }
  header .menu_sp_toggle {
    top: 50px;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100; }
    header .menu_sp_toggle li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .menu_sp_toggle li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }

  .cover_area {
    margin: 2%; }

  #items {
    text-align: center; }
    #items .items_ttl {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    #items ul.items_list {
      margin: 2%; }
      #items ul.items_list li {
        display: inline-block;
        width: 200px;
        margin: 5px; }
        #items ul.items_list li img {
          width: auto;
          height: auto; }

  /* ▼キャプション付き画像全体を囲むボックスの装飾 */
  figure {
    display: table;
    width: 100px;
    /* minimum width */
    *width: auto;
    /* for IE7 and below */
    margin: 2px;
    /* ▼画像に対する装飾 */ }
    figure img {
      display: block;
      /* 余計な余白が出ないようにする */
      margin: 0px;
      /* 周りに2pxの余白を追加 */
      margin-left: auto;
      margin-right: auto; }

  /* ▼キャプションに対する装飾 */
  figcaption {
    font-size: 0.9em;
    /* 文字サイズを90%に */
    text-align: left;
    /* 中身をセンタリング */
    margin: 2px; }

  #shopping_guide {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto; } }
@media (min-width: 550px) {
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px;
    padding: 15px 0 10px 0; }
  header .sp_navi {
    display: none; }
  header .pc_navi_li {
    margin: 0;
    padding: 0; }
    header .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      header .pc_navi_li li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        padding-right: 10px; }
      header .pc_navi_li li a:hover {
        color: #42b9d0; }

  .cover_area {
    margin: 2%; }

  #items {
    text-align: center; }
    #items .items_ttl {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    #items ul.items_list {
      margin: auto; }
      #items ul.items_list li {
        display: inline-block;
        width: 200px;
        margin: auto; }
        #items ul.items_list li img {
          width: auto;
          height: auto; }

  /* ▼キャプション付き画像全体を囲むボックスの装飾 */
  figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100px;
    /* minimum width */
    *width: auto;
    /* for IE7 and below */
    margin: 0px;
    padding: 3px;
    /* ▼画像に対する装飾 */ }
    figure img {
      display: block;
      /* 余計な余白が出ないようにする */
      margin: 0px;
      /* 周りに2pxの余白を追加 */ }

  /* ▼キャプションに対する装飾 */
  figcaption {
    font-size: 0.9em;
    /* 文字サイズを90%に */
    text-align: left;
    /* 中身をセンタリング */
    margin: 0px; }

  #shopping_guide {
    background-color: white;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto; }
    #shopping_guide .guide_setting {
      position: absolute;
      top: 0px;
      left: 0px;
      margin-right: 5px; }
      #shopping_guide .guide_setting ul.li {
        width: 100px; }
    #shopping_guide .guide_setting2 {
      position: absolute;
      top: 0px;
      right: 0px; }
      #shopping_guide .guide_setting2 ul.li {
        width: 100px; } }

/*# sourceMappingURL=style.css.map */
